.list2 {
    transition: all .3s ease-in;
  }

  .list2:hover {
    height: 200px;
  }

  .icon1 {
    height: 24px;
    width: 50px;
    border: 1px solid white;
    margin-right: 5px;
    padding: 1px;
    border-radius: 15px;
  }

  .circle {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    left: 0;
    /* Set an initial value */
    transition: left 0.3s ease-in;
  }

  #menu {
    display: none;
  }

  @media screen and (max-width: 767px) {
    .x {
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    .logo {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    #menu {
      display: block;
    }

    .left {
      height: 50px;
      width: 100%;
      overflow: hidden;
      transition: all 0.3s ease-in;
    }
  }